<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :album_title %>
  </div>

  <div class="field">
    <%= form.label :label_id %>
    <%= form.select(:label_id, options_from_collection_for_select(Label.all, :id, :name)) %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.collection_check_boxes(:artist_ids, Artist.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :album_genre %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :album_year %>
  </div>

  <div class="field">
    <%= form.label :date_added %>
    <%= form.date_select :date_added, id: :album_date_added %>
  </div>

  <div class="field">
    <%= form.label :plays %>
    <%= form.number_field :plays, id: :album_plays %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
